@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'H20 Shadow';
    src: url(fontes/H2O-Shadow.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #c5daeb;
    --cor1: #9acffa;
    --cor2: #0A75AB;
    --cor3: #0F55FA;
    --cor4: #012d94;
    --cor5: #020558;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-titulo: 'H20 Shadow', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
    text-align: center;
    min-height: 150px;
    padding: 40px 20px 20px 20px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    padding-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-titulo);
    margin: 0px 0px;
    font-size: 1.8em;
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-size: 1.5em;
    font-weight: bold;
}

main p {
    text-indent: 30px;
    margin: 15px 0px;
    text-align: justify;
    line-height: 2em;
}

main a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 5px;
    background-color: var(--cor1);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

p.legenda {
    font-size: 0.8em;
    margin: 0px;
    font-style: italic;
    text-indent: 0px;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.8%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
    margin: 10px 0px;
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style: none inside;
    columns: 2;
    display: block;
}

aside li::before {
    content: '\2714\00A0\00A0';
}

aside ins {
    text-decoration: none;
    border-bottom: 1.8px dotted #000;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
